PURVIEW_ACCOUNT_NAME="<YourPurviewAccountName>"
AZURE_TENANT_ID="<YourTenantId>"
AZURE_SUBSCRIPTION_ID="<YourSubscriptionId>"

# Service-principal authentication only:
# AZURE_CLIENT_ID="<YourApplicationClientId>"
# AZURE_CLIENT_SECRET="<YourClientSecret>"